<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>To do List</title>
  </head>
  <body>
   if(kindofday === "Tuesday"|)
   {
     <h1 style="color: purple">it's a <%= kindofday %>TodoList!</h1>
   }
   else
   {
      <h1 style="color: blue">it's a <%= kindofday %>TodoList!</h1>
   }
    
  </body>
</html>
